In [1]:
n = int(input("Ingresa un numero: "))
if n < 100:
  print(n, True)
else:
  print(n,False)

78 True

In [3]:
n = int(input("Ingresa un monto de compra: "))
tipo_pago = ''
if n <= 100:
  tipo_pago = 'Efectivo'
elif n > 100 and n <= 300:
    tipo_pago = 'Tarjeta de debito'
elif n > 300 and n <= 500:
    tipo_pago = 'Tarjeta de credito oro'
else:
  tipo_pago = 'Tarjeta de credito platino'

print(n, 'pagada con', tipo_pago)

789 pagada con Tarjeta de credito platino

In [4]:
print(n, tipo_pago)

789 Tarjeta de credito platino

In [5]:
n1 = int(input("Ingresa numero 1: "))
n2 = int(input("Ingresa numero 2: "))
n3 = int(input("Ingresa numero 3: "))

mayor = n1
if(n2 > mayor):
    mayor = n2
    
if(n3 > mayor):
    mayor = n3

print(f"El numero mayor es: {mayor}")

El numero mayor es: 90

In [9]:
print("El numero mayor es: ", max(n1, n2, n3))
print("El numero menor es: ", min(n1, n2, n3))

El numero mayor es:  90
El numero menor es:  5

In [12]:
a = int(input("Ingresa el año: "))

if a >= 1582:
    if(a%4 != 0):
        print(a, "es un año comun")
    else:
         print(a, "es un año bisiesto")
else:
    print("No es un año del calendario Gregoriano")

No es un año del calendario Gregoriano

In [14]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [15]:
for i in range(1, 16, 3):
    print(i)

1
4
7
10
13

In [16]:
# Imprimir numero pares
for i in range(1, 11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [17]:
# Imprimir numero impares
for i in range(1, 11):
    if i%2 != 0:
        print(i)

1
3
5
7
9

In [18]:
#Break
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

In [19]:
#Continue
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [20]:
#While
numero_magico = 889
n = -1
while n != numero_magico:
    print("Estas atrapado en el bucle")
    n = int(input("Dame un numero"))
print("Felicidades")

Estas atrapado en el bucle
Estas atrapado en el bucle
Estas atrapado en el bucle
Estas atrapado en el bucle
Estas atrapado en el bucle
Felicidades

In [22]:
n = int(input("Que tabla quieres ver: "))
while (n >= 1 and n <= 20):
    print(f"Tabla del {n}")
    for i in range(1, 11):
        print(n,'x', i, '=', n*i)
    n = int(input("Que tabla quieres ver: "))
print("Numero invalido")

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Numero invalido

In [24]:
c = "Hola mundo"
print(type(c))
for l in c:
    print(l)

<class 'str'>
H
o
l
a

m
u
n
d
o

In [28]:
c = "Hola Mundo"
v = 'aeiou'
nv = 0
print(type(c))
for l in c.lower():
    print(l)
    if l in v:
        print(l, "es una vocal")
        nv += 1
print(c, 'contiene', nv, 'vocales')

<class 'str'>
h
o
o es una vocal
l
a
a es una vocal

m
u
u es una vocal
n
d
o
o es una vocal
Hola Mundo contiene 4 vocales