In [1]:
#Funcion con un parametro que no regresa valor
def saludo(nombre):
    print("Hola", nombre)

In [2]:
saludo("Patito23")

Hola Patito23

In [3]:
s = saludo("Patito23")
print(type(s))
print(s)

Hola Patito23
<class 'NoneType'>
None

In [4]:
#Funcion con un arreglo de parametros que no regresa valor
def saludoDos(*nombre):
    print("El ultimo nombre es", nombre[-1])

In [5]:
saludo("Patito23", "Patito24")

TypeError: saludo() takes 1 positional argument but 2 were given

In [6]:
saludoDos("Aldo")
saludoDos("Aldo","Carla")
saludoDos("Aldo","Carla","Frida")
saludoDos("Aldo","Carla","Frida","Lucas")

El ultimo nombre es Aldo
El ultimo nombre es Carla
El ultimo nombre es Frida
El ultimo nombre es Lucas

In [7]:
#Funcion con un arreglo de parametros que no regresa valor
def saludoTres(*parametro):
    np = 1
    for p in parametro:
        print("-----")
        print("Parametro", np, p)
        print(type(p))
        print(id(p))
        np +=1

In [8]:
saludoTres("Aldo","Carla","Frida")

-----
Parametro 1 Aldo
<class 'str'>
140504851377520
-----
Parametro 2 Carla
<class 'str'>
140504853092144
-----
Parametro 3 Frida
<class 'str'>
140504853092464

In [9]:
saludoTres("Aldo",10, 18.90, True, [1,2], (1,2))

-----
Parametro 1 Aldo
<class 'str'>
140504853063024
-----
Parametro 2 10
<class 'int'>
4425036688
-----
Parametro 3 18.9
<class 'float'>
140504834727280
-----
Parametro 4 True
<class 'bool'>
4424633776
-----
Parametro 5 [1, 2]
<class 'list'>
140504852577728
-----
Parametro 6 (1, 2)
<class 'tuple'>
140504834986384

In [11]:
def sumatoria(*valores):
    suma = 0
    for v in valores:
        if(isinstance(v, int) or isinstance(v, float)):
            suma += v
    return suma

In [12]:
suma = sumatoria("Aldo","Carla","Frida","1","100")
print(suma)

0

In [13]:
suma = sumatoria("Aldo",10, 18.90, True, [1,2], (1,2))
print(suma)

29.9

In [14]:
def datos(nombre, edad, ciudad, estatura):
    d = {"Nombre": nombre, "Edad":edad, "Ciudad":ciudad, "Estatura":estatura}
    return d

In [18]:
d = datos("Patito23", 18, "CDMX", 1.70)
print(d)
print(type(d))
print("Nombre", d["Nombre"])

{'Nombre': 'Patito23', 'Edad': 18, 'Ciudad': 'CDMX', 'Estatura': 1.7}
<class 'dict'>
Nombre Patito23

In [19]:
d = datos( 18, "CDMX", 1.70, "Patito23")
print(d)
print(type(d))
print("Nombre", d["Nombre"])

{'Nombre': 18, 'Edad': 'CDMX', 'Ciudad': 1.7, 'Estatura': 'Patito23'}
<class 'dict'>
Nombre 18

In [20]:
d = datos( edad=18, ciudad="CDMX", estatura=1.70, nombre="Patito23")
print(d)
print(type(d))
print("Nombre", d["Nombre"])

{'Nombre': 'Patito23', 'Edad': 18, 'Ciudad': 'CDMX', 'Estatura': 1.7}
<class 'dict'>
Nombre Patito23

In [21]:
def circulo(radio, pi=3.141592):
    r = float(radio)
    perimetro = 2*(pi*r)
    area = pi*(r**2)
    return {"area":area, "perimetro":perimetro}

In [22]:
c1 = circulo(5)
c2 = circulo(76)
print("C1 con radio 5 area =", c1["area"],"perimetro", c1["perimetro"])
print("C2 con radio 76 area =", c2["area"],"perimetro", c2["perimetro"])

C1 con radio 5 area = 78.5398 perimetro 31.41592
C2 con radio 76 area = 18145.835392 perimetro 477.52198400000003

In [23]:
c1 = circulo(5, 3.1416)
c2 = circulo(76, 3.1416)
print("C1 con radio 5 area =", c1["area"],"perimetro", c1["perimetro"])
print("C2 con radio 76 area =", c2["area"],"perimetro", c2["perimetro"])

C1 con radio 5 area = 78.53999999999999 perimetro 31.416
C2 con radio 76 area = 18145.8816 perimetro 477.5232

In [24]:
import math
from datetime import date
from random import randint, choice
import statistics as st

In [25]:
c1 = circulo(5, math.pi)
c2 = circulo(76, math.pi)
print("C1 con radio 5 area =", c1["area"],"perimetro", c1["perimetro"])
print("C2 con radio 76 area =", c2["area"],"perimetro", c2["perimetro"])

C1 con radio 5 area = 78.53981633974483 perimetro 31.41592653589793
C2 con radio 76 area = 18145.839167134644 perimetro 477.5220833456485

In [30]:
print("Raiz Cuadrada de 16", math.sqrt(16))
print("Numero aleatorio entre 1 y 100", randint(1,100))
print("Elegir un valor de una lista", choice(["Python","LATAM","CISCO", "Patito23"]))

Raiz Cuadrada de 16 4.0
Numero aleatorio entre 1 y 100 50
Elegir un valor de una lista CISCO

In [33]:
d = [2.5, 1.45, 0.23, math.pi, 1]
print("Estatisticas")
print("Media", st.mean(d))
print("Mediana", st.median(d))
print("Max", max(d))
print("Min", min(d))

Estatisticas
Media 1.6643185307179587
Mediana 1.45
Max 3.141592653589793
Min 0.23

In [36]:
from matematica import aritmetica
a = 10
b = 8
print("Suma", aritmetica.sumar(a,b))
print("Resta", aritmetica.restar(a,b))
print("Multiplicacion", aritmetica.multiplicar(a,b))
print("Division", aritmetica.dividir(a,b))
print("Division 0", aritmetica.dividir(a,0))

Suma 18
Resta 2
Multiplicacion 80
Division 1.25
No puedo dividir entre 0
Division 0 None